{
  "providers": {
    "opencode": {
      "key": {{ .secrets.OPENCODE_API_KEY | quote }}
    },
    "google": {
      "key": {{ .secrets.GEMINI_API_KEY | quote }},
      "projectId": "causal-shell-426900-m9"
    }
  }
}
