{
  "surreal-specter": {
    "command": "npx",
    "args": ["-y", "@surrealdb/specter", "server"],
    "env": {
      "SURREAL_URL": "https://surrealdb.cuttlefish-gorgon.ts.net",
      "SURREAL_USER": "cparrish",
      "SURREAL_PASS": {{ .secrets.SURREALDB_PASSWORD | quote }}
    }
  },
  "mcp-cron": {
    "command": "mcp-cron-{{ .chezmoi.os }}-{{ .chezmoi.arch }}",
    "args": [],
    "env": {}
  },
  "forgejo": {
  "command": "forgejo-mcp",
  "args": ["stdio", "--url", "https://git.deeplydigital.net"],
  "env": {
    "FORGEJO_ACCESS_TOKEN": {{ output "infisical" "run" "--projectId" .infisical.projectId "--" "printenv" "FORGEJO_AGENT_PAT" | trim }}
  }
 }
}
