{
  "mcpServers": {
    "surrealdb": {
      "url": "https://surrealdb.cuttlefish-gorgon.ts.net/mcp",
      "headers": {
        "Host": "127.0.0.1:8000",
        "Authorization": "Bearer {{ .secrets.SURREAL_MCP_AUTH_TOKEN }}"
      }
    },
    "forgejo": {
      "url": "https://forgejo-mcp.cuttlefish-gorgon.ts.net/sse",
      "headers": {
        "Autorizatin": "Bearer {{ .secrets.FORGEJO_AGENT_PAT }}"
      }
    },
    "plane": {
      "url": "https://mcp.plane.so/http/mcp"
    }
  }
}
