command_timeout = 5000
palette = 'gruvbox_dark'

format = """
[](color_orange)\
$os\
$directory\
[](bg:color_yellow fg:color_orange)\
$git_branch\
$git_status\
[](fg:color_yellow bg:color_aqua)\
${custom.jj}\
[](fg:color_aqua bg:color_blue)\
$fill\
$lua\
$nodejs\
$rust\
$golang\
$php\
$ruby\
$package\
[](fg:color_blue bg:color_bg3)\
$docker_context\
$jobs\
[](fg:color_bg3 bg:color_bg1)\
$cmd_duration\
[ ](fg:color_bg1)\
$line_break$character"""

[directory]
style = "bg:color_orange fg:color_fg0"
format = "[ $path ]($style)"
truncation_length = 3
truncation_symbol = "…/"
truncate_to_repo = false



[fill]
symbol = " " 

[palettes.gruvbox_dark]
color_fg0 = '#fbf1c7'
color_bg1 = '#3c3836'
color_bg3 = '#665c54'
color_blue = '#458588'
color_aqua = '#689d6a'
color_green = '#98971a'
color_orange = '#d65d0e'
color_purple = '#b16286'
color_red = '#cc241d'
color_yellow = '#d79921'

[os]
disabled = false
style = "bg:color_orange fg:color_fg0"

[os.symbols]
Windows = "󰍲"
Ubuntu = "󰕈"
SUSE = ""
Raspbian = "󰐿"
Mint = "󰣭"
Macos = "󰀵"
Manjaro = ""
Linux = "󰌽"
Gentoo = "󰣨"
Fedora = "󰣛"
Alpine = ""
Amazon = ""
Android = ""
Arch = "󰣇"
Artix = "󰣇"
EndeavourOS = ""
CentOS = ""
Debian = "󰣚"
Redhat = "󱄛"
RedHatEnterprise = "󱄛"
Pop = ""




[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = " "
"Pictures" = " "

[git_branch]
symbol = ""
style = "bg:color_aqua"
format = '[on](white) [[ $symbol $branch ](fg:color_fg0 bg:color_aqua)]($style)'

[git_status]
style = "bg:color_aqua"
format = '[[($all_status$ahead_behind )](fg:color_fg0 bg:color_aqua)]($style)'

[nodejs]
symbol = ""
style = "bg:#212736"
format = '[[ $symbol ($version) ](fg:color_fg0 bg:color_blue)]($style)'

[rust]
symbol = ""
style = "bg:color_blue"
format = '[[ $symbol ($version) ](fg:color_fg0 bg:color_blue)]($style)'

[golang]
symbol = ""
style = "bg:#212736"
format = '[[ $symbol ($version) ](fg:color_fg0 bg:color_blue)]($style)'

[php]
symbol = ""
style = "bg:#212736"
format = '[[ $symbol ($version) ](fg:color_fg0 bg:color_blue)]($style)'

[package]
symbol = "󰏗"

[docker_context]
symbol = ' '
style = 'bg:color_bg3'
format = '[$symbol]($style) $path'
detect_files = ['docker-compose.yml', 'docker-compose.yaml', 'Dockerfile']
detect_extensions = ['Dockerfile']

[jobs]
symbol = ' '
style = 'red'
number_threshold = 1
format = '[$symbol]($style)'

[cmd_duration]
min_time = 500
style = 'fg:gray'
format = '[$duration]($style)'

[custom.jj]
command = '''starship-jj --ignore-working-copy starship prompt'''
style = "bg:color_aqua"
format = "[$symbol $bookmark](fg:color_fg0 bg:color_agua)($style) "
symbol = ""
when = "jj root --ignore-working-copy"
